---
layout: archive
title: "Publications by Beamline"
permalink: /publications-by-beamline/
author_profile: true
---

{% include base_path %}

{% include group-by-array collection=site.articles field="beamlines" %}

{% for beamline in group_names %}
  {% assign items = group_items[forloop.index0] %}
  <h2 id="{{ beamline | slugify }}" class="archive__subtitle">{{ beamline }}</h2>
  <ul>
  {% assign sorted = items | sort: 'date' | reverse %}
  {% for article in sorted %}
  <li>{% include reference.html article=article %}</li>
  {% endfor %}
  </ul>
{% endfor %}
