---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% assign my_categories = "Talks, Posters" | split: ", " %}

{% for cat in my_categories %}

{% assign entries = site.talks | where: "categories", cat %}

  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ cat }}</h2>
  <ul>
  {% assign sorted = entries | sort: 'date' | reverse %}
  {% for post in sorted %}
    <li>{% include reference.html article=post %}</li>
  {% endfor %}
</ul>
{% endfor %}
